@font-face {
  font-family: "sg";
  src: url("./fonts/sg.woff2") format("woff2"),
       url("./fonts/sg.woff") format("woff");
}


.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

svg {
  /* border: 2px solid #eee; */
  width: 100%;
}

.mass_big_logo {
  font-size: 20rem;
  transition: filter 100ms linear;
  font-family: 'sg', sans-serif;
  will-change: filter, stroke-width;
}

.heading_text {
  font-size: 3rem;
  will-change: stroke-width;
}

input[type='range'] {
  width: 80%;
}

