@font-face {
  font-family: "sg";
  src: url("./fonts/sg.woff2") format("woff2"),
       url("./fonts/sg.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  color: #fff;
  padding: 4rem 0;
}

section {
  /* padding: 2rem 0; */
}

.dark {
  background-color: #000;
}

.light {
  background-color: #fff;
}

.App {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

.svg-container {
  width: 100%;
  height: 0;
  padding-top: 40%;
  position: relative;
}

.outer {
  max-width: 50rem;
  margin: 0 auto;
}

.DilatedHeading_svg {
  width: 100%;
  /* border: 1px solid #eee; */
  display: block;
  font-family: 'Merriweather', serif;


  font-size: 1rem;
  /* height: 16rem; */
  overflow: visible;
}

@media (min-width: 800px) {
  .DilatedHeading_svg {
    font-size: 1.8rem;
  }
}
